body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

.container {
    background: rgb(221, 221, 221);
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 280px;
    height: 100vh;
    padding: 15px;
    justify-items: center;
    align-items: center;
}

.card {
    background: white;
    border-left: 10px solid rgb(233, 190, 97);
    width: clamp(200px,80%,250px); 
    height: clamp(250px,80%,260px);
    border-radius: 15px;
    padding: 10px 10px 10px 40px;
    font-size: 1.2rem;
    box-shadow: 5px 6px 13px 3px rgba(0,0,0,0.34);
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.card h3 {
    display: -webkit-box;
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card * {
    overflow: hidden;
} 

button {
    background-color: rgb(53, 129, 230);
    font-size: 1.2rem;
    padding: 10px 30px 10px;
    border: 1px solid rgb(53, 129, 230);
    border-radius: 25px;
    box-shadow: 5px 6px 13px 1px rgba(0,0,0,0.24);
    color: white;
    font-weight: bold;
}

.delbutton {
    box-shadow: initial;
    font-size: 0.8rem;
    padding: 5px 10px 5px;
    width: 80px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(81, 147, 233);
}

button:focus {
    outline: rgb(128, 128, 128);
}   

button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.read {
    color: black;
}

/*style modal*/
::backdrop {
    background: rgb(206, 200, 200);
    opacity: 0.50;
}

dialog {
    border: 3px solid grey;
    border-radius: 15px;
    font-size: 1.5rem;
}

dialog input {
    margin-top: 10px;
}

input {
    padding: 10px 20px 10px;
    border-radius: 15px;
    font-size: 1.5rem;
}


input[type=checkbox] {
    position: relative;
    top: 4px;
    width: 23px;
    height: 23px;
}

.buttongrp {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.read{
    max-width: 150px;
    border-radius: 15px;
    padding: 10px 20px 10px 10px;
    position: relative;
    left: -4px;
    font-weight: bold;
}